    <!--ARTICLES-->
    <section id="article-content" class="py-3">
        <div class="container">
            <div class="row">
                <div class="col main">
                    <h1>{{#isTruthy isScraping}}New {{/isTruthy}}Articles</h1>

                    {{#if articles.length}}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <p class="my-0">
                            {{#isTruthy isScraping}}You've found {{articles.length}} new article(s).{{/isTruthy}}
                            {{#isFalsey isScraping}}There are {{articles.length}} article(s) in the stored collection.{{/isFalsey}}
                            </p>
                            <button type="button" class="btn-close btn-light btn-adjust" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div> 
                    {{else}}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <p class="my-0">
                            {{#isTruthy isClearing}}All articles have been cleared. To reload <a href="/scrape" class="alert-link">Scrape Articles</a> for additional content.{{/isTruthy}}
                            {{#isTruthy isScraping}}No new articles have been added.  Navigate <a href="/" class="alert-link">Home</a> to check out the existing content.{{/isTruthy}}
                             {{#isFalsey isClearing}}{{#isFalsey isScraping}}No articles are stored in the collection. <a href="/scrape" class="alert-link">Scrape</a> some to add content.{{/isFalsey}}{{/isFalsey}}
                             </p>
                             <button type="button" class="btn-close btn-light btn-adjust" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                    {{/if}} 

                    {{#if articles}} 
                        <div id="articles" class="row row-cols-1 row-cols-md-3 g-4" >
                            {{#each articles}}
                             <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">{{headline}}</h3>
                                        <h6>Written by {{author}}</h6>
                                        <h6 class="text-muted">{{readableDate date}}</h6>
                                        <hr>
                                        <p class="card-text">{{summary}}</p>
                                        <p class="text-end"><small><span id="comment-length-{{_id}}">
                                            {{#if comments.length}}
                                                {{comments.length}}
                                            {{else}}
                                                0
                                            {{/if}}
                                            </span> Comments</small></p>
                                        <!--buttons -->
                                        <div class="d-flex">
                                            <a target="_blank" href={{urlLink}} class="btn btn-success mb-2 mx-1"><i class="fas fa-book-open pr-1"></i> Read It</a>
                                            <button hidden id="btn-article-pin" class="btn btn-success mb-2 mx-1" data-id={{_id}}>
                                                <i class="fas fa-thumbtack pr-1"></i> Pin It
                                            </button>
                                            <button id="btn-article-comment" class="btn btn-success mb-2 mx-1 ml-auto" data-id={{_id}} data-bs-toggle="collapse" data-bs-target="#comments-{{_id}}" aria-expanded="false" aria-controls ="#comments-{{_id}}" >
                                                <i class="far fa-comments pr-1"></i>
                                            </button>
                                        </div>

                                        <!-- COMMENTS -->
                                        <div id="comments-{{_id}}" class="collapse">
                                            <div id="comment-area-{{_id}}" class="comment-area" data-article-id="{{_id}}">
                                                {{#each comments}}
                                                    <div id="comment-{{this._id}}" class="comment-item m-2 p-2 rounded bg-light text-dark d-flex">
                                                        <span class="comment-name text-info font-weight-bold px-1">{{this.userName}}</span> 
                                                        <span class="comment-text rounded px-2 flex-grow-1">{{this.comment}}</span>
                                                        <button id="btnComment-{{this._id}}" type="button" class="delete-comment btn btn-light btn-adjust py-0" data-id={{this._id}}><i class="fa fa-times"></i></button>
                                                    </div>
                                                {{/each}}
                                            </div>
                                            <!-- SAVE COMMENTS -->
                                            <div class="formcontainer">
                                                <form id="form-save-comment-{{_id}}" class="form-save-comment">
                                                    <div>
                                                        {{!-- <input type="hidden" id="articleid_update" name="article_id" class="form-control" value="{{_id}}"> --}}
                                                        <div class="mb-2">
                                                            <label for="comment_update" class="form-label">Comment</label>
                                                            <textarea id="comment_update" name="comment" placeholder="Comments..." rows="5" maxlength="500" class="form-control"></textarea>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label for="username_update" class="form-label">User Name</label>
                                                            <input type="text" id="username_update" name="user_name" placeholder="User Name..." class="form-control">
                                                        </div>
                                                    </div>
                                                    <button id="btn-article-add-comment" class="btn btn-success mb-2 mx-1 ms-auto" type="submit" data-id={{_id}}>Add</button>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    {{/if}} 

                </div>
            </div>
        </div>
    </section>


