<div class="jumbotron">

  <div class="container text-center ">
    <h1 class="shadow">Articles</h1>
    <p class="shadow-lite">"All the News That 's Fit to Scrape"</p>

    {{#if articles.length}}
        <div id="length-alert" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>You've found {{articles.length}} articles.
        </div> 
    {{else}}
        <div id="length-alert" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>No articles yet. <a href="/scrape" class="alert-link">Go ahead and scrape some!</a>
        </div>
    {{/if}} 

    {{#if articles}} 
        <div class="row">
            {{#each articles}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href={{urlLink}}>
                        <h3>{{headline}}</h3>
                        {{!-- <img src="{{this.image}}"  />--}}
                    </a>
                    <div class="caption">
                        {{!-- <h3>{{headline}}</h3> --}}
                        <h4>{{author}}</h4>
                        <div>{{summary}}</div>
                        <form method="POST" action="/">
                            <input type="hidden" name="headline" value="{{headline}}">
                            <input type="hidden" name="urlLink" value="{{urlLink}}">
                            <input type="hidden" name="author" value="{{author}}">
                            <br>
                            <button class="btn btn-info" data-loading-text="<i class='fa fa-spinner fa-spin'></i>Saving" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    {{/if}} 

    <div class="article-container">

    </div>

  </div>

</div>
