
    <h1>{{#isTruthy isScraping}}New {{/isTruthy}}Articles</h1>

    {{#if articles.length}}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{#isTruthy isScraping}}You've found {{articles.length}} new article(s).{{/isTruthy}}
            {{#isFalsey isScraping}}There are {{articles.length}} article(s) in the MongoDB collection.{{/isFalsey}}
        </div> 
    {{else}}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>{{#isFalsey isScraping}}No articles yet. Go ahead and <a href="/scrape" class="alert-link">Scrape</a> some!{{/isFalsey}}
            {{#isTruthy isScraping}}No new articles have been added.  Navigate <a href="/" class="alert-link">Home </a>to check out the existing content.{{/isTruthy}}
        </div>
    {{/if}} 

    <div class="card-columns">
        {{#if articles}} 
            {{#each articles}}
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{headline}}</h3>
                        <h6>Written by {{author}}</h6>
                        <h6 class="text-muted">{{readableDate date}}</h6>
                        <hr>
                        <p class="card-text">{{summary}}</p>
                        <p class="text-right"><small><span id="comment-length-{{_id}}">{{comments.length}}</span> Comments</small></p>

                        <!-- SAVE NEW ARTICLE (that hasn't been saved to Mongo yet) -->
                        <div class="formcontainer">
                            <form id="form-save-article-{{_id}}" class="form-save-article">
                                <input type="hidden" name="id" class="form-control" value="{{_id}}">
                                <input type="hidden" name="headline" value="{{headline}}" class="form-control">
                                <input type="hidden" name="summary" value="{{summary}}" class="form-control">
                                <input type="hidden" name="urlLink" value="{{urlLink}}" class="form-control">
                                <input type="hidden" name="author" value="{{author}}" class="form-control">
                                <input type="hidden" name="date" value="{{date}}" class="form-control">
                                <div class="d-flex">
                                    <a target="_blank" href={{urlLink}} class="btn btn-success mb-2 mx-1"><i class="fas fa-book-open pr-1"></i> Read It</a>
                                    {{#isFalsey ../isScraping}}                                    
                                        <button hidden id="btn-article-pin" class="btn btn-success mb-2 mx-1" data-id={{_id}}><i class="fas fa-thumbtack pr-1"></i> Pin It</button>
                                        <button id="btn-article-comment" class="btn btn-success mb-2 mx-1 ml-auto" data-id={{_id}} data-toggle="collapse" data-target="#comments-{{_id}}"><i class="far fa-comments pr-1"></i></button>
                                    {{/isFalsey}}

                                    {{!-- {{#isTruthy ../isScraping}} --}}
                                    {{!-- {{/isTruthy}} --}}
                                    {{!-- {{#isFalsey ../isScraping}} --}}
                                    {{!-- {{/isFalsey}} --}}
                                </div>
                            </form>
                        </div>

                        <!-- SAVE COMMENT -->
                        <div id="comments-{{_id}}" class="collapse">
                            <div id="comment-area-{{_id}}" class="comment-area" data-article-id="{{_id}}">
                                {{#each comments}}
                                    <div id="comment-{{this._id}}" class="comment-item m-2 p-2 rounded bg-light text-dark">
                                        <span class="comment-name text-info font-weight-bold px-1">{{this.userName}}</span> 
                                        <span class="comment-text rounded p-2">{{this.comment}}</span>
                                        <button id="btnComment-{{this._id}} type="button" class="delete-comment btn btn-light btn-circle float-right" data-id={{this._id}}><i class="fa fa-times"></i></button>
                                    </div>
                                {{/each}}
                            </div>
                            <div class="formcontainer">
                                <form id="form-save-comment-{{_id}}" class="form-save-comment">
                                    <div>
                                        {{!-- <input type="hidden" id="articleid_update" name="article_id" class="form-control" value="{{_id}}"> --}}
                                        <div class="form-group">
                                            <label for="comment_update">Comment</label>
                                            <textarea id="comment_update" name="comment" placeholder="Comments..." rows="5" maxlength="500" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="username_update">User Name</label>
                                            <input type="text" id="username_update" name="user_name" placeholder="User Name..." class="form-control">
                                        </div>
                                    </div>
                                    <button id="btn-article-add-comment" class="btn btn-success mb-2 mx-1 ml-auto" type="submit" data-id={{_id}}>Add</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            {{/each}}
        {{/if}} 
    </div>



