<div class="jumbotron">

  <div class="container text-center ">
    <h1 class="shadow">Articles</h1>
    <p class="shadow-lite">"All the News That 's Fit to Scrape"</p>

    {{#if articles.length}}
        <div id="length-alert" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>You've found {{articles.length}} articles.
        </div> 
    {{else}}
        <div id="length-alert" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>No articles yet. Give it a go -- <a href="/scraped" class="alert-link">scrape some articles!</a>
        </div>
    {{/if}} 

    {{!-- {{#grouped_each 3 articles}} --}}
        {{#if articles}} 
        <div class="row">
            {{#each articles}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    Bring it in Mongo
                    <a target="_blank" href={{urlLink}}>
                        {{!-- <img src="{{this.image}}"  --}}
                        /></a>
                    <div class="caption">
                        <h3>{{headline}}</h3>
                        <form method="POST" action="/">
                            <input type="hidden" name="headline" value="{{headline}}">
                            <input type="hidden" name="urlLink" value="{{urlLink}}">
                            <input type="hidden" name="author" value="{{author}}">
                            <br>
                            <button class="btn btn-info" data-loading-text="<i class='fa fa-spinner fa-spin'></i>Saving" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
        {{/if}} 
        </div>
    {{!-- {{/grouped_each}} --}}

        <div class="article-container">
            Hello world
        </div>

  </div>

</div>
