<div class="jumbotron">

  <div class="container text-center ">
    <h1 class="shadow">Articles</h1>

    {{#if articles.length}}
        
            <div id="length-alert" class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{#isTruthy isScraping}}You've found {{articles.length}} article(s).{{/isTruthy}}
                {{#isFalsey isScraping}}You have {{articles.length}} saved article(s).{{/isFalsey}}
            </div> 
        
    {{else}}
        <div id="length-alert" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>No articles yet. <a href="/scrape" class="alert-link">Go ahead and scrape some!</a>
        </div>
    {{/if}} 

    {{#if articles}} 
        <div class="row">
            {{#each articles}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href={{urlLink}}>
                        <h3>{{headline}}</h3>
                    </a>
                    <div class="caption formcontainer">
                        <h4>{{author}}</h4>
                        <h6>{{readableDate date}}</h6>
                        <div>{{summary}}</div>
                        <form id="form-save-article-{{@index}}" class="form-save-article">
                            <input type="hidden" name="headline" value="{{headline}}" class="form-control">
                            <input type="hidden" name="summary" value="{{summary}}" class="form-control">
                            <input type="hidden" name="urlLink" value="{{urlLink}}" class="form-control">
                            <input type="hidden" name="author" value="{{author}}" class="form-control">
                            <input type="hidden" name="date" value="{{date}}" class="form-control">
                            <br>
                            {{#isTruthy ../isScraping}}
                                <button class="btn btn-info" type="submit" id={{@index}}>Save</button>
                            {{/isTruthy}}
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    {{/if}} 

    <div class="article-container">

    </div>

  </div>

</div>
